.user-menu label {
    color: #9d9d9d;
    font-weight: normal;
}
.btn-translate {
    color: #a7a7a7;
    background-color: #171717;
    border-color: #636363;
}
.language-select {
    color: #a7a7a7;
    background-color: #171717;
    background-image: none;
    border: 1px solid #636363;
}